html {
font-family: Helvetica, Arial, sans-serif;
font-size: 10px;
}

h2 {
font-size: 2rem;
text-decoration: underline;
}

ul,ol,dl,p {
font-size: 1.5rem;
}

li, p {
line-height: 1.5;
}

/* Unordered list styles */

ul {
padding-left: 2rem;
list-style-type: none;
}

ul li {
padding-left: 2rem;
background-image: url(https://img.freepik.com/free-vector/3d-metal-star-isolated_1308-117760.jpg);
background-position: 0 0;
background-size: 1.6rem 1.6rem;
background-repeat: no-repeat;
}

/* Ordered list styles */

ol {
color:red;
}

/* Description list styles */

dd, dt {
line-height: 1.5;
}

dt {
font-weight: bold;
}
