html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }

  h2 {
    font-size: 2rem;
    background-color: blueviolet;
  }

  ul,ol,dl,p {
    font-size: 1.5rem;
  }

  li, p {
    line-height: 1.5;
  }

  /* Unordered list styles */

  ul {
    padding-left: 2rem;
    list-style-type: none;
  }

  ul li {
    padding-left: 2rem;
    background-image: url(star.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

  /* Ordered list styles */

  ol {
    list-style-type: upper-roman;
    background-color: yellow;
  }

  /* Description list styles */

  dd, dt {
    line-height: 1.5;
    background-color: darkcyan;
  }

  dt {
    font-weight: bold;
  }

  body {
    background-color: red;
  }

  p {
    background-color: green;
  }

  li{
    background-color: cyan;
  }

  p.special {
    color: white;
    border: 5px solid black;
    padding: 10px;
  }

  #A {
    width:200px;
    float: left;
  }

  #B {
    width: 600px;
    float: right;
  }

  #C {
    clear: both;
  }




